<html>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{emailer.title}} is buying</title>
    <style>
      /* Add your custom CSS styles here */ body { font-family: Arial,
      sans-serif; line-height: 1.6; } .container { max-width: 600px; margin: 0
      auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px;
      background-color: #f9f9f9; } h1 { color: #333; } p { color: #555; }
      .button { display: inline-block; background-color: #007bff; color: #fff;
      text-decoration: none; padding: 10px 20px; border-radius: 4px; }
      .button:hover { background-color: #0056b3; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>{{emailer.title}}</h1>
      <p>{{emailer.description}}</p>
      <p>
        Dear
        {{emailer.userName}}, Congratulations on your recent purchase of a new
        Steam key! 🎉 We couldn't be more excited for you to embark on new
        gaming adventures with the amazing content you've just acquired. Your
        dedication to gaming and the thrill of exploring new virtual worlds is
        truly commendable. As you venture into the realms of your chosen game,
        we wish you countless hours of excitement, fun, and triumph. May you
        unlock epic achievements, conquer mighty foes, and discover hidden
        treasures that await you in the digital universe. Remember, gaming is
        not just about entertainment; it's an opportunity to connect with fellow
        players from around the globe, form alliances, and share unforgettable
        experiences. We hope this new Steam key opens doors to an incredible
        gaming community where you can forge new friendships and indulge in
        friendly competition. Should you ever need any assistance or have
        questions related to your gaming journey, don't hesitate to reach out to
        us. Our support team is here to ensure your gaming experience remains
        smooth and enjoyable. Once again, congratulations on your purchase! Your
        dedication to gaming is truly inspiring, and we're delighted to be a
        part of your gaming endeavors. Happy gaming, and may your victories be
        legendary! Best regards, SteamKeys Team
      </p>
      <h2>Your steam key {{emailer.secretKey}}</h2>
    </div>
  </body>
</html>